<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/retrieve.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.11.3.js"></script>

</head>
<body>



<div class="hide-center-2">
    <div class="overCurtain"></div>
    <div id="formhead-2">
        <div id="formhead-title-2">
            <span>邮箱验证</span>
        </div>
    </div>
    <div id="formbody-2">
        <div class="RegUserName">
            <input id="input-topright-RegInput"
                   name="username" class="RegInput" value="{{ username }}"
                   placeholder="请设置用户名" type="text"
                   title="请输入6-18位字母,数字,减号,下划线,以字母开头">
            <span class="msg-default hidden">6-18位字母,数字或下划线,以字母开头</span>
        </div>
        <div class="RegEmail">
            <input id="input-body03right-RegInput" name="email"
                   class="RegInput" placeholder="邮箱" type="text"
                   style="border-bottom-right-radius:5px;"
                   minlength="11">
            <span class="msg-default hidden">请输入合法的邮箱地址</span>
        </div>
        <div class="RegVerify">
            <input id="input-verification-code" name="v_code"
                   class="RegInput" type="text" style="border-bottom-right-radius:5px;">
            <span><button id="BSignIn-1" type="button">发送验证码</button></span>
        </div>
        <div id="formfoot-2" class="formfoot-2">
            <button id="BSignIn-2" type="button">找回密码</button>
        </div>
        <div class="RegPassword hidden">
            <input id="input-body01right-RegInput"
                   name="password_1" class="RegInput"
                   placeholder="设置密码：8-12位英文字母+数字"
                   type="password" style="border-bottom-right-radius:5px;"
                   title="输入8-12位英文字母+数字,以字母开头"
                   minlength="6" maxlength="12">
            <span class="msg-default hidden">8-12位英文字母或数字</span>
        </div>
        <div class="RegPassword hidden">
            <input id="input-body02right-RegInput"
                   name="password_2" class="RegInput"
                   placeholder="确认密码" type="password" style="border-bottom-right-radius:5px;"
                   title="再次确认密码" minlength="6" maxlength="12">
            <span class="msg-default hidden">8-12位英文字母或数字</span>
        </div>
        <div id="formfoot-3" class="formfoot-3 hidden">
            <button id="BSignIn-3" type="button">确定修改</button>
        </div>
    </div>
</div>





<script>
    function checkUser(){
            var userReg=/^[a-zA-Z]([_A-Za-z0-9]{5,17})$/;
            return userReg.test($('#input-topright-RegInput').val())
        }
    function checkEmail(){
　　     var emailReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
    　　 return emailReg.test($('#input-body03right-RegInput').val())
    }
    function checkPWD01(){
        var pwd01Reg=/([A-Za-z0-9]{8,12})$/;
        return pwd01Reg.test($('#input-body01right-RegInput').val())
    }
    function checkPWD02(){
        var pwd02Reg=/([A-Za-z0-9]{8,12})$/;
        return pwd02Reg.test($('#input-body02right-RegInput').val())
    }

    $('#input-topright-RegInput').blur(function () {
        console.log(checkUser());
        if(checkUser()){
            $('.msg-default')[0].setAttribute('class','msg-default hidden')
        }else {
            $('.msg-default')[0].setAttribute('class','msg-default')
        }
    });
    $('#input-body03right-RegInput').blur(function () {
        console.log(checkEmail());
        if(checkEmail()){
            $('.msg-default')[1].setAttribute('class','msg-default hidden')
        }else {
            $('.msg-default')[1].setAttribute('class','msg-default')
        }
    });
    $('#input-body01right-RegInput').blur(function () {
        console.log(checkPWD01());
        if(checkPWD01()){
            $('.msg-default')[2].setAttribute('class','msg-default hidden')
        }else {
            $('.msg-default')[2].setAttribute('class','msg-default')
        }
    });
    $('#input-body02right-RegInput').blur(function () {
        console.log(checkPWD02());
        if(checkPWD02()){
            $('.msg-default')[3].setAttribute('class','msg-default hidden')
        }else {
            $('.msg-default')[3].setAttribute('class','msg-default')
        }
    });

    $('#BSignIn-1').click(function(){
    if(checkUser()&&checkEmail()){
        $.ajax({
            type:"post",
            url:"/user/verify_user_by_email",
            contentType:'application/json',
            datatype:"json",
            data:JSON.stringify({
                "username": $('#input-topright-RegInput').val(),
                "email": $('#input-body03right-RegInput').val(),
            }),
            success:function(data){
                if(data.code === 200){
                    var num=120;
                    var timer = setInterval(function(){
                        document.getElementById('BSignIn-1').innerText=num+'s';
                        num--;
                        if(num < 0){
                            clearInterval(timer);
                            document.getElementById('BSignIn-1').innerText='重新发送验证码';
                        }
                    },1000);
                    alert("验证码已发送,请在两分钟内进行验证");
                }else{
                    alert(data.error);
                }
            },
        });
    };
    })



    $('#BSignIn-2').click(function () {
    if(checkUser()&&checkEmail()){
        $.ajax({
        type: "post",
        url: "/user/verify_code",
        contentType:'application/json',
        datatype: "json",
        data: JSON.stringify({
          "username": $('#input-topright-RegInput').val(),
          "email": $('#input-body03right-RegInput').val(),
          "v_code": $('#input-verification-code').val(),
        }),
        success: function(data){
            if(data.code === 200){
                alert("验证成功");
                $('.formfoot-2')[0].setAttribute('class','formfoot-2 hidden');
                $('.RegPassword')[0].setAttribute('class','RegPassword');
                $('.RegPassword')[1].setAttribute('class','RegPassword');
                $('.formfoot-3')[0].setAttribute('class','formfoot-3');
            }else {
                alert(data.error);
            }
        },
      });
    };
    })

    $('#BSignIn-3').click(function () {
    if(checkUser()&&checkEmail()){
        $.ajax({
        type: "post",
        url: "/user/reset_password",
        contentType:'application/json',
        datatype: "json",
        data: JSON.stringify({
            "username": $('#input-topright-RegInput').val(),
            "password_1": $('#input-body01right-RegInput').val(),
            "password_2": $('#input-body02right-RegInput').val(),
        }),
        success: function(data){
            if(data.code === 200){
                alert("修改成功");
                window.location.href = "login";
            }else {
                alert(data.error);
            }
        },
      });
    };
    })


</script>

</body>
</html>