<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>get_user</title>
</head>
<body>
    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <button id="btn">显示用户信息</button>
    <h1 id="show"></h1>
    <script>
        $(function () {
            $("#btn").click(function () {
                $.ajax({
                    url:"/user/get_user_server",
                    type: "GET",
                    dataType:"json",
                    success: function (res) {
                        // console.log(res)
                        // $("#show").html("hello")
                        var html = "<table><tr><td>姓名</td><td>年龄</td></tr>"
                        $.each(res, function (index, obj) {
                            // console.log(obj.name)
                            html += "<tr>"
                            html += "<td>" + obj.name + "</td>"
                            html += "<td>" + obj.age + "</td>"
                            html += "</tr>"
                        })
                        html += "</table>"
                        $("#show").html(html)
                    }
                })
            })
        })
    </script>
</body>
</html>