<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <table>
        <tr>
            <td>username:</td> 
            <td><input type="text"></td> 
        </tr>
        <tr>
            <td>password:</td> 
            <td><input type="text"></td> 
        </tr>
        <tr>
            <td>登录</td>
            <td><a href="http://127.0.0.1:8000/user/enter">忘记密码?</a></td>
        </tr>
    </table>
</body>
</html>