<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>verif_email</title>
</head>
<body>
    <form action="http://127.0.0.1:8000/user/verif/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{email}}">
    <table>
        <tr>
            <td>验证码</td>
            <td>
                <input type="text", name="verif_code">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">验证</button>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>