<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试get请求</title>
</head>
<body>
    <script src="/static/js/common.js"></script>
    <button onclick="getXhr()">xhr-get</button>
    <div id="show"></div>
    <script>
        function getXhr() {
            let xhr = createXhr();
            xhr.open("GET", "/ajax_js/xhr_get_server", true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log(xhr.responseText)
                    document.getElementById("show").innerHTML = xhr.responseText;
                }
            }
            xhr.send(null);
        }
    </script>
</body>
</html>