<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
</head>
<body>
    <table align="center" border="0" id="goods">
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td><img src="/static/images/Lipstick.webp"></td>
                        <td valign="top">
                            <table border="0">
                                <tr>
                                    <td width="250"><font color="black">Girl, you're going to be a woman</font></td>
                                </tr>
                                <tr valign="top">
                                    <td ><font color="#dc143c" size="5">$16</font></td>
                                </tr>
                                <tr>
                                    <td ><font color="black">Lipstick</font></td>
                                </tr>
                                <tr>
                                    <td ><font color="black">生产日期:xx/xx/xx</font></td>
                                </tr>
                            </table>
                            <table border="0">
                                <tr>
                                    <td bgcolor="#dc143c" align="center" width="80"><a href="http://product.dangdang.com/25160597.html" >Buy Now</a></td>
                                    <td width="25"></td>
                                    <td bgcolor="#ffb6c1" width="80" align="center"><font color="#dc143c">add to cart</font></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/shop.js"></script>
</body>
</html>
